@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded-Regular.eot');
    src: url('../fonts/Unbounded-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Unbounded-Regular.woff2') format('woff2'),
        url('../fonts/Unbounded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded-Medium.eot');
    src: url('../fonts/Unbounded-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Unbounded-Medium.woff2') format('woff2'),
        url('../fonts/Unbounded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('../fonts/Geologica-Medium.eot');
    src: url('../fonts/Geologica-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geologica-Medium.woff2') format('woff2'),
        url('../fonts/Geologica-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('../fonts/Geologica-Regular.eot');
    src: url('../fonts/Geologica-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geologica-Regular.woff2') format('woff2'),
        url('../fonts/Geologica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('../fonts/Geologica-SemiBold.eot');
    src: url('../fonts/Geologica-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geologica-SemiBold.woff2') format('woff2'),
        url('../fonts/Geologica-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('../fonts/Geologica-Light.eot');
    src: url('../fonts/Geologica-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Geologica-Light.woff2') format('woff2'),
        url('../fonts/Geologica-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

