.reviews
    padding: 70px 0
    &__title
        margin: 0
        margin-bottom: 42px
    &__subtitle
        margin: 0
        margin-bottom: 57px
    &__wrap
        display: flex
        justify-content: space-between
    &__block
        width: 320px
        max-width: 24%
        border-radius: 30px
        border: 1px solid #fff
        padding: 54px 34px 154px 34px
        position: relative
    &__link
        position: absolute
        bottom: 64px
        left: 34px
        display: flex
        align-items: center
        justify-content: space-between
        width: calc(100% - 68px)
